/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet&display=swap');


body {
    background-color: #F6F5F1;
    padding: 0;
    margin: 0;
}

/*=============== HEADER & NAV ===============*/
.header {
    backdrop-filter: blur(10px);
    width: 100%;
    max-height: 50%;
    position: fixed;
    left: 0;
    z-index: 999; /* Pastikan nilai ini lebih tinggi dari elemen lain */
}

.nav {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #F6F5F1;
    box-shadow: 0 1px 0px hwb(0 0% 100%);
    padding: 0.5rem 2rem;
}

.logo {
    text-align: center;
    flex: 0 0 auto;
}

.nav__logo {
    color: #3C3D37;
    text-decoration: none;
    border: none;
    white-space: nowrap;
}

.nav__menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.nav__menu-left {
    flex: 1;
    gap: 70px;
    justify-content: flex-start;
}

.nav__menu-right {
    flex: 1;
    gap: 70px;
    justify-content: flex-end;
}

.nav__item {
    display: flex;
    align-items: center;
}

/* Styling for "Davina" */
.font-imperial-script {
    font-family: 'Imperial Script', cursive;
    font-size: 70px;
    margin-right: -5px;
    display: inline-block;
}

.font-baskervville-sc {
    font-family: 'Baskervville SC', serif;
    font-size: 45px;
}

/* Styling for navigation menu */
.nav__link {
    color: #3C3D37;
    font-family: 'Bodoni Moda', serif;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

.nav__link:hover {
    color: #747474;
}

.change-theme {
    font-size: 1.25rem;
    cursor: pointer;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  /* Make sure the logo stays in center */
  .logo {
    margin: 0;
    flex: 1;
    justify-content: center;
  }

  /* Hide the menu initially and display toggle */
  .nav__menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #F6F5F1;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    z-index: 999;
  }

}



.Home {
  display: flex;
  justify-content: center; /* Memusatkan secara horizontal */
  align-items: center; /* Memusatkan secara vertikal */
  text-align: center; /* Memusatkan teks */
  flex-wrap: wrap; /* Agar konten responsif */
  height: 100vh; /* Tinggi penuh untuk halaman */
}

/* Image styles */
.img {
  max-width: 900px;
  padding-top: 180px;
  height: auto;
  justify-content: flex-end;
}

.img img {
  margin-right: 70px;
  width: 428px;
  height: 100%;
  justify-content: flex-end;
  
}

/* Text and button styles */
.content {
  padding-top: 100px;
  margin-right: 200px;
  align-items: center;
  text-align: -webkit-auto;
}

/* Styling for "Davina" */
.title-font-imperial-script {
  color: #000000;
  margin-right: 1px;
  font-family: 'Imperial Script', serif;
  font-size: 60px;
}

.title-font-baskervville-sc {
  color: #000000;
  font-family: 'Baskervville SC', serif;
  font-size: 40px;
}

.subtitle {
  font-family: 'Baskervville SC', serif;
  margin-top: 30px;
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
}

.description {
  color: #000000;
  font-family: 'Baskervville SC', serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.button a {
  text-decoration: none;
  color: #fff;

  display: flex;
  gap: 1rem;
}

.button button {
  background-color: #3C3D37;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.9s;
}

.button button:hover {
  background-color: #d4d4d4;
  color: #3C3D37;
}

/* Media Query untuk tampilan mobile */
/* Media Query untuk layar laptop 14 inci (1366px x 768px) */
@media (min-width: 1280px) and (max-width: 1440px) {
  .Home {
    flex-direction: row; /* Menjaga elemen tetap sejajar horizontal */
    padding-top: 17px; /* Memberikan ruang di atas */
  }

  .img {
    margin-right: 50px; /* Memberikan sedikit ruang antara gambar dan teks */
  }

  .img img {
    width: 400px; /* Sesuaikan lebar gambar */
    height: auto; /* Pertahankan aspek rasio */
  }

  .content {
    margin-right: 50px; /* Kurangi margin untuk tata letak lebih seimbang */
    padding-top: 20px; /* Tambahkan sedikit jarak di atas */
  }

  .title-font-imperial-script {
    font-size: 50px; /* Sesuaikan ukuran font untuk laptop */
  }

  .title-font-baskervville-sc {
    font-size: 35px; /* Ukuran font untuk teks lainnya */
  }

  .subtitle {
    font-size: 1.3rem; /* Ukuran subtitle sedikit lebih kecil */
  }

  .description {
    font-size: 1.1rem; /* Ukuran deskripsi sedikit lebih kecil */
  }

  .button button {
    padding: 0.7rem 1.2rem; /* Sesuaikan ukuran tombol */
    font-size: 0.95rem; /* Ukuran font tombol */
  }
}

/* Media Query untuk layar tablet (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .Home {
    flex-direction: column; /* Tata letak vertikal untuk tablet */
    padding-top: 80px; /* Tambahkan ruang di atas */
    padding-bottom: 80px;
    text-align: center; /* Pusatkan semua elemen */
  }

  .img {
    margin-right: 0; /* Hilangkan margin kanan */
    text-align: center; /* Pusatkan gambar */
    padding-top: 0px; /* Beri jarak atas */
  }

  .img img {
    width: 300px; /* Perkecil ukuran gambar */
    height: auto; /* Pertahankan aspek rasio */
  }

  .content {
    margin-right: 0; /* Hilangkan margin kanan */
    padding-top: 20px; /* Berikan sedikit ruang di atas */
  }

  .title-font-imperial-script {
    font-size: 45px; /* Sesuaikan ukuran font */
  }

  .title-font-baskervville-sc {
    font-size: 30px; /* Ukuran font untuk teks lainnya */
  }

  .subtitle {
    font-size: 1.2rem; /* Ukuran subtitle untuk tablet */
  }

  .description {
    font-size: 1rem; /* Ukuran deskripsi untuk tablet */
  }

  .button button {
    padding: 0.6rem 1rem; /* Sesuaikan ukuran tombol */
    font-size: 0.9rem; /* Ukuran font tombol */
  }
}




/* About Me Section */
.about {
  display: flex;
  padding-bottom: 70px;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1040px;
  width: 100%;
  flex-wrap: wrap; /* Responsif */
  height: 100%; /* Menyesuaikan tinggi container */
  max-height: 1000px;

}

.about-teks {
  background-color: #3C3D37; /* Warna background teks */
  height: 710px;
  color: #fff;
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
}

.about-title {
  font-size: 3rem;
  text-align: center;
  padding-top: 15%;
}

.title-about-font-baskervville-sc {
  color: #ffffff;
  font-family: 'Baskervville SC', serif;
  font-size: 2.5rem;
}

.title-font-bullet {
  color: #ffffff;
  font-family: 'Ballet', serif;
  font-size: 2.5rem;
}

.about-description {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.7;
}


.about-image img {
  float: right;
  max-width: 100%; /* Sesuaikan proporsi gambar */
}

/* Responsiveness for About Me Section */
@media (max-width: 1024px) { /* Laptop 14 inch */
  .about {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }

  .about-teks {
    height: auto;
    padding: 50px 30px;
    text-align: center;
  }

  .about-title {
    font-size: 2.5rem;
    padding-top: 10%;
  }

  .about-description {
    font-size: 0.95rem;
    line-height: 1.6;
  }

  .about-image img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) { /* Tablet */
  .about {
    flex-direction: column;
    padding-bottom: 40px;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-teks {
    padding: 20px;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-description {
    font-size: 0.9rem;
  }

  .about-image {
    margin-top: 20px;
  }

  .about-image img {
    max-width: 90%;
    margin: 0 auto;
  }
}





/* portfolio */
.portfolio {
  font-family: "Georgia", serif;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
  padding-bottom: 100px;
}

/* Styling for "Davina" */
.title-font-ballet-portfolio {
  color: #000000;
  margin-right: 1px;
  font-family: 'Ballet', serif;
  font-size: 60px;
}

.title-font-baskervville-sc-portfolio {
  color: #000000;
  font-family: 'Baskervville SC', serif;
  font-size: 70px;
}

.subtitle {
  margin-top: -10px;
  font-size: 1.2rem;
  color: #666;
}


.subtitle-line {
  border: 0;
  border-top: 2px solid #333; /* Atur ketebalan dan warna garis */
  width: 700px; /* Atur panjang garis */
  margin: 20px auto; /* Menjaga jarak dan meratakan garis */
}


/* Swiper Container */
.swiper-container {
  position: relative;
  margin: 0 auto;
  max-width: 95%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  padding-left: 90px;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.swiper-slide {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

/* Card Styling */
.portfolio__card {
  width: 250px;
  height: 220px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.portfolio__card:hover {
  transform: scale(1.05);
}

.portfolio__card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.portfolio__card button {
  background: #fff;
  border: 1px solid #2c2c2c;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.portfolio__card button:hover {
  background: #2c2c2c;
  color: #fff;
  border: 1px solid #fff;
}

/* Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.swiper-button-next {
  right: -20px;
}

.swiper-button-prev {
  left: -20px;
}

/* Divider */
.divider {
  border: 0;
  height: 1px;
  margin: 2rem 0;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
}

.portfolio__container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.portfolio__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background: #1c1c1c;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.portfolio__img {
  width: 100%;
  border-radius: 8px;
}

.portfolio__data {
  text-align: left;
}

.portfolio__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.5rem;
}

.portfolio__description {
  font-size: 1rem;
  color: #aaa;
}


/* Card Wrapper */
.portfolio__card {
  background: #454545;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.portfolio__card:hover {
  transform: scale(1.05);
}

.portfolio__img {
  width: 100%;
  border-radius: 8px;
}

/* Media Query untuk layar laptop 14 inci (1366px x 768px) */
@media (min-width: 1280px) and (max-width: 1440px) {
  .swiper-wrapper {
    display: flex;
    padding-left: 60px;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
}




/* Project Detail */
.project__detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Menempatkan detail di tengah */
  height: 700px;
  width: 700px;
  max-width: 90%;
  background: #1c1c1c;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
  overflow-y: auto; /* Agar konten card dapat di-scroll */

}

.project__detail.hidden {
  display: none;
}

.project__detail-img {
  width: 100%;
  border-radius: 8px;
}

.close-btn {
  align-self: flex-end;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.close-btn:hover {
  color: #00bcd4;
}

/* Background Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* Warna abu-abu */
  backdrop-filter: blur(5px); /* Efek blur */
  z-index: 999;
  display: none;
}

.overlay.active {
  display: block;
}



/* Detail Card */
.portfolio__detail {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh; /* Full tinggi */
  width: 400px;
  max-width: 90%;
  background: #1c1c1c;
  padding: 1.5rem;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
}

.portfolio__detail.hidden {
  display: none;
}

.portfolio__detail-img {
  width: 100%;
  border-radius: 8px;
}

.close-btn {
  align-self: flex-end;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.close-btn:hover {
  color: #00bcd4;
}

/* Background Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* Warna abu-abu */
  backdrop-filter: blur(5px); /* Efek blur */
  z-index: 999;
  display: none;
}

.overlay.active {
  display: block;
}



.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  border-radius: 15px;
  background-color: #3C3D37;
  font-family: Arial, sans-serif;
}

.list-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Row of Icons */
.row {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card-skills {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px 1px rgb(255, 255, 255);
  transition: transform 0.3s ease;
}

.card-skills:hover {
  transform: scale(1.1);
}

.card-skills img {
  width: 50px;
  height: 50px;
}

/* Center Text */
.center {
  width: 450px;
  height: 200px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 1px 1px 1px rgb(255, 255, 255);
}

.title-font-Baskervville-script-tools {
  color: #ffffff;
  font-family: 'Baskervville SC', serif;
  font-size: 40px;
}

.title-font-Ballet-script-tools {
  color: #ffffff;
  font-family: 'Ballet', serif;
  font-size: 5rem;
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.7); /* Efek bayangan putih */
}




/* Testimonials Section */
.tensi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 320px;
  padding-bottom: 200px;
  background-size: 10px;
  background-image: url('../img/tensi.png'); /* Ganti dengan path background Anda */
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.testimonial {
  display: flex;
  gap: 100px; /* Mengurangi jarak antar card */
  justify-content: flex-start;
  max-width: 100%;
}

.card {
  color: #ffffff;
  background: #3C3D37;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.455);
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.3s ease;
  position: relative; /* Agar gambar dapat ditempatkan di depan card */
  margin-top: 40px; /* Memberikan jarak antara gambar dan card */
}

.card:hover {
  transform: translateY(-10px);
}

.profile-img {
  position: absolute;
  top: -90px; /* Mengatur gambar agar berada di atas card */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* Agar gambar tetap di depan card */
}

.profile-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #3C3D37;
}

.title-testi {
  padding-top: 40px;
  font-family: 'Baskervville SC', serif;
  font-size: 20px;
  font-weight: normal; /* Mengurangi ketebalan font */
}

.description-testi {
  font-family: 'Baskervville SC', serif;
  font-size: 15px;
  font-weight: normal; /* Mengurangi ketebalan font */
}


.kontak {
  display: flex;
  width: 86.8%;
  max-width: 2100px;
  height: 700px;
  background-color: #3c3c3c;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.kontak .left {
  flex: 1;
  padding: 40px;
}

.title-font-ballet-kontak {
  color: #ffffff;
  margin-right: 1px;
  font-family: 'Ballet', serif;
  font-size: 60px;
}

.title-font-baskervville-sc-kontak {
  color: #ffffff;
  font-family: 'Baskervville SC', serif;
  font-size: 60px;
}

.kontak .left p {
  font-family: 'Baskervville SC', serif;
  font-size: 30px;
  color: #ffffff;
  line-height: 1.5;
}

.kontak .left .contact-info {
  margin-top: 40px;
}

.kontak .left .contact-info a {
  font-family: 'Baskervville SC', serif;
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #fff;
  width: 480px;
}

.kontak .right {
  width: 500px;
  height: 420px;
  background-color: #f8f8f8;
  border-radius: 16px;
  padding: 40px;
  color: #3c3c3c;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.kontak .right form {
  display: flex;
  flex-direction: column;
}

.kontak .right input,
.kontak .right textarea {
  margin-bottom: 40px;
  padding: 10px;
  border: 1px solid #3c3c3c;
  border-radius: 8px;
  font-size: 16px;
  font-family: inherit;
}

.kontak .right textarea {
  resize: none;
  height: 150px;
}

.kontak .right button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  color: #3c3c3c;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.kontak .right button:hover {
  background-color: #e0e0e0;
}

.social-section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.social-section hr {
  flex: 1;
  border: none;
  height: 1px;
  background-color: #3c3c3c;
  margin: 0 20px;
}

.social-section a {
  width: 40px;
  height: 40px;
  background-color: #3c3c3c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin: 0 10px;
}

.social-section a:hover {
  background-color: #555;
}


.footer {
  width: 100%;
  background-color: #3c3c3c;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  font-family: 'Baskervville SC', serif;
  letter-spacing: 0.5px;
}



/* @media (max-width: 1024px) {
  body {
      display: none;
  }
  .mobile-message {
      display: block;
      text-align: center;
      font-size: 20px;
      margin-top: 50px;
  }

  element.style {
    background-color: red;
}
} */
